jupyter==1.1.1
numpy==1.26.4
pandas==2.2.3
Pillow==11.2.1
protobuf==4.24.4
psutil==7.0.0
matplotlib==3.10.1
scikit-learn==1.6.1
scipy==1.15.2
sympy==1.14.0
opencv-python==4.11.0.86
tensorflow==2.19.0
keras==3.9.2
tensorboard==2.19.0
typing-extensions==4.13.2
seaborn==0.13.2
pydot==3.0.4